* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans) !important;
}

.breadcrumbs {
  padding: 1rem 1rem;
}

.breadcrumbs_hotel_name {
  color: orange;
}

.breadcrumbs_text {
  font-size: 1.5rem;
  color: #0f386c;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.breadcrumb_link {
  color: #0f386c;
  text-decoration: none;
  transition: color 0.3s ease;
}

.breadcrumb_link:hover {
  color: orange;
  cursor: pointer;
}

.breadcrumb_separator {
  color: #999;
}

.breadcrumb_current {
  color: orange;
  font-weight: 600;
}

.impressum_intro_container {
  padding: 2.5rem 1rem;
}

.impressum_title {
  color: #0f386e;
  font-weight: 300 !important;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.impressum_description {
  color: #333333;
  font-weight: 300;
  margin-bottom: 0rem;
  font-size: 1rem;
  width: 90%;
}

.impressumformular_link {
  text-decoration: none;
  color: #0f386e;
}

.travel_agency_container {
  padding: 2.5rem 1rem;
}

.travel_card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.travel_card_img {
  width: 100%;
}

.travel_card_content {
  display: flex;
  flex-direction: column;
}
.travel_card_content h1 {
  color: #0f386e;
  font-weight: 300 !important;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.travel_card_content h3 {
  color: #0f386e;
  font-weight: 300 !important;
  /* margin-bottom: 2rem; */
  font-size: 1.5rem;
}
.travel_card_content p {
  color: #333333;
  font-weight: 300;
  margin-bottom: 0rem;
  font-size: 1rem;
  width: 100%;
}
.download_text {
  color: #333333;
  font-weight: 300;

  font-size: 0.8rem !important;
}
.download_link_wrapper {
  text-decoration: none;
}

.download_container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  margin: 2rem 0rem;
  background-color: #f5f5f5;
  padding: 1.2rem 1rem;
  border-radius: 5px;
}

.download_icon {
  width: 3rem;
}

.agb_intro_container {
  padding: 2.5rem 1rem;
}

.agb_title {
  color: #0f386e;
  font-weight: 300 !important;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.agb_description {
  color: #333333;
  font-weight: 300;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 90%;
}

.agbformular_link {
  text-decoration: none;
  color: #0f386e;
}
/* ------------------ RESPONSIVENESS ------------------ */

/* Extra Small Devices (<=480px) */
@media (max-width: 480px) {
}

/* Small Devices (481px - 640px) */
@media (min-width: 481px) and (max-width: 640px) {
}

/* Medium Devices (641px - 768px) */
@media (min-width: 641px) and (max-width: 768px) {
  .breadcrumbs {
    padding: 1rem 2rem;
  }

  .impressum_intro_container {
    padding: 2.5rem 2rem;
  }
  .impressum_title {
    font-size: 2.5rem;
  }
  .impressum_description {
    font-size: 1.5rem;
  }

  .travel_agency_container {
    padding: 2.5rem 2rem;
  }
  .download_wrapper {
    display: flex;
  }

  .agb_intro_container {
    padding: 2.5rem 2rem;
  }
  .agb_title {
    font-size: 2.5rem;
  }
  .agb_description {
    font-size: 1.5rem;
  }
}

/* Large Tablets / Small Laptops (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .breadcrumbs {
    padding: 1rem 2rem;
  }

  .impressum_intro_container {
    padding: 2.5rem 2rem;
  }

  .impressum_title {
    font-size: 2.5rem;
  }
  .impressum_description {
    font-size: 1.5rem;
  }
  .download_wrapper {
    display: flex;
  }
  .travel_agency_container {
    flex-direction: column;
    /* max-width: 720px;
    margin: 0 auto; */
  }

  .travel_card {
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
  }

  .travel_card_img_container {
    flex: 1 1 40%;
  }

  .travel_card_content {
    flex: 1 1 60%;
  }

  .travel_card_content p {
    width: 90%;
    line-height: 1.6;
  }
  .download_wrapper {
    display: flex;
  }

  .agb_intro_container {
    padding: 2.5rem 2rem;
  }

  .agb_title {
    font-size: 2.5rem;
  }
  .agb_description {
    font-size: 1.5rem;
  }
}

/* Desktops (1025px - 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
  .breadcrumbs {
    padding: 1rem 2rem;
  }

  .impressum_intro_container {
    padding: 2.5rem 2rem;
  }

  .impressum_title {
    font-size: 2.5rem;
  }
  .impressum_description {
    font-size: 1.5rem;
  }

  .travel_agency_container {
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
  }

  .travel_card {
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
  }

  .travel_card_img_container {
    flex: 1 1 30%;
  }

  .travel_card_content {
    flex: 1 1 70%;
  }
  .travel_card_content p {
    line-height: 1.6;
    width: 90%;
  }
  .download_wrapper {
    display: flex;
  }

  .agb_intro_container {
    padding: 2.5rem 2rem;
  }

  .agb_title {
    font-size: 2.5rem;
  }
  .agb_description {
    font-size: 1.5rem;
  }
}

/* Large Desktops (1281px - 1535px) */
@media (min-width: 1281px) and (max-width: 1535px) {
  .breadcrumbs {
    padding: 1rem 3rem;
  }

  .impressum_intro_container {
    padding: 2.5rem 3rem;
  }

  .impressum_title {
    font-size: 2.5rem;
  }
  .impressum_description {
    font-size: 1.5rem;
  }

  .travel_agency_container {
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .travel_card {
    flex-direction: row;
    gap: 5rem;
    align-items: flex-start;
  }

  .travel_card_img_container {
    flex: 1 1 35%;
  }

  .travel_card_content {
    flex: 1 1 60%;
  }
  .download_wrapper {
    display: flex;
  }

  .travel_card_content h1 {
    font-size: 2.5rem;
  }

  .travel_card_content p {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .travel_card_content h3 {
    font-size: 2rem;
  }
  .download_text {
    font-size: 1rem !important;
  }

  .download_icon {
    width: 4rem;
  }

  .agb_intro_container {
    padding: 2.5rem 3rem;
  }

  .agb_title {
    font-size: 2.5rem;
  }
  .agb_description {
    font-size: 1.5rem;
  }
}

/* Extra Large Desktops (>=1536px) */
@media (min-width: 1536px) and (max-width: 2200px) {
  .breadcrumbs {
    padding: 1rem 3rem;
  }

  .impressum_intro_container {
    padding: 2.5rem 3rem;
  }

  .impressum_title {
    font-size: 2.5rem;
  }
  .impressum_description {
    font-size: 1.5rem;
  }

  .travel_agency_container {
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .travel_card {
    flex-direction: row;
    gap: 10rem;
    align-items: flex-start;
  }

  .travel_card_img_container {
    flex: 1 1 40%;
  }

  .travel_card_content {
    flex: 1 1 60%;
  }
  .download_wrapper {
    display: flex;
  }

  .travel_card_content h1 {
    font-size: 2.5rem;
  }

  .travel_card_content p {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .travel_card_content h3 {
    font-size: 2rem;
  }
  .download_text {
    font-size: 1.2rem !important;
  }

  .download_icon {
    width: 4rem;
  }

  .agb_intro_container {
    padding: 2.5rem 3rem;
  }

  .agb_title {
    font-size: 2.5rem;
  }
  .agb_description {
    font-size: 1.5rem;
  }
}

@media (min-width: 2200px) {
  .breadcrumbs {
    max-width: 2080px;
    margin: 0 auto;
    padding: 2rem 2rem;
  }

  .impressum_intro_container {
    padding: 2.5rem 2rem;
    max-width: 2080px;
    margin: 0 auto;
    padding: 2rem 2rem;
  }

  .impressum_title {
    font-size: 3rem;
  }
  .impressum_description {
    font-size: 2rem;
  }

  .travel_agency_container {
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .travel_card {
    flex-direction: row;
    gap: 10rem;
    align-items: flex-start;
  }

  .travel_card_img_container {
    flex: 1 1 40%;
  }

  .travel_card_content {
    flex: 1 1 60%;
  }
  .download_wrapper {
    display: flex;
  }

  .travel_card_content h1 {
    font-size: 3rem;
  }

  .travel_card_content p {
    font-size: 2rem;
    line-height: 1.6;
  }

  .travel_card_content h3 {
    font-size: 2.5rem;
  }
  .download_text {
    font-size: 1.5rem !important;
  }

  .download_icon {
    width: 5rem;
  }

  .agb_intro_container {
    padding: 2.5rem 2rem;
    max-width: 2080px;
    margin: 0 auto;
    padding: 2rem 2rem;
  }

  .agb_title {
    font-size: 3rem;
  }
  .agb_description {
    font-size: 2rem;
  }
}
