* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans) !important;
}

.breadcrumbs {
  padding: 1rem 1rem;
}

.breadcrumbs_hotel_name {
  color: orange;
}

.breadcrumbs_text {
  font-size: 1rem;
  color: #0f386c;
  display: flex;
  font-weight: 300;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.breadcrumb_link {
  color: #0f386c;
  text-decoration: none;
  transition: color 0.3s ease;
    font-weight: 300;
}

.breadcrumb_link:hover {
  color: orange;
  cursor: pointer;
}

.breadcrumb_separator {
  color: #999;
}

.breadcrumb_current {
  color: orange;
  /* font-weight: 600; */

    font-weight: 300;
}

.kontakt_intro_container {
  padding: 2.5rem 1rem;
}

.kontakt_title {
  color: #0f386e;
  font-weight: 300 !important;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.kontakt_description {
  color: #333333;
  font-weight: 300;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 90%;
}

.kontaktformular_link {
  text-decoration: none;
  color: #0f386e;
}
.kontaktformular_link:hover {
  text-decoration: none;
  color: orange;
}


.kontakt_form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form_row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.form_group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form_group.full_width {
  flex: 1 1 100%; 
}

.form_group label {
  font-size: 1rem;
  color: #333333;

  margin-bottom: 0.8rem;
  font-weight: 500;
}

.form_group input,
.form_group textarea {
  padding: 1rem 1rem;
  border: 1px solid #dddddd;
  border-radius: 6px;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.3s ease;
  background-color: #f8f8f8;
}

.form_group input:focus,
.form_group textarea:focus {
  border-color: #0f386c;
  outline: none;
}


.kontakt_button {
  background-color: #001f41;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 0.9rem 1.5rem;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.kontakt_button:hover {
  background-color: orange;
}

/* ------------------ RESPONSIVENESS ------------------ */

/* Extra Small Devices (<=480px) */
@media (max-width: 480px) {
}

/* Small Devices (481px - 640px) */
@media (min-width: 481px) and (max-width: 640px) {
}

/* Medium Devices (641px - 768px) */
@media (min-width: 641px) and (max-width: 768px) {
  .breadcrumbs {
    padding: 1rem 2rem;
  }

  .kontakt_intro_container {
    padding: 2.5rem 2rem;
  }
  .kontakt_title {
    font-size: 2.5rem;
  }
  .kontakt_description {
    font-size: 1.5rem;
  }
}

/* Large Tablets / Small Laptops (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .breadcrumbs {
    padding: 1rem 2rem;
  }

  .kontakt_intro_container {
    padding: 2.5rem 2rem;
  }

  .kontakt_title {
    font-size: 2.5rem;
  }
  .kontakt_description {
    font-size: 1.5rem;
  }

  .kontakt_form {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
  }
}

/* Desktops (1025px - 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
  .breadcrumbs {
    padding: 1rem 2rem;
  }

  .kontakt_intro_container {
    padding: 2.5rem 2rem;
  }

  .kontakt_title {
    font-size: 2.5rem;
  }
  .kontakt_description {
    font-size: 1.5rem;
  }

   .kontakt_form {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* Large Desktops (1281px - 1535px) */
@media (min-width: 1281px) and (max-width: 1535px) {
  .breadcrumbs {
    padding: 1rem 3rem;
  }

  .kontakt_intro_container {
    padding: 2.5rem 3rem;
  }

  .kontakt_title {
    font-size: 2.5rem;
  }
  .kontakt_description {
    font-size: 1.5rem;
  }
     .kontakt_form {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

/* Extra Large Desktops (>=1536px) */
@media (min-width: 1536px) and (max-width: 2200px) {
  .breadcrumbs {
    padding: 1rem 3rem;
  }

  .kontakt_intro_container {
    padding: 2.5rem 3rem;
  }

  .kontakt_title {
    font-size: 2.5rem;
  }
  .kontakt_description {
    font-size: 1.5rem;
  }
  .kontakt_form {
    max-width: 1680px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .form_row {
    gap: 3rem;
  }
}

@media (min-width: 2200px) {
  .breadcrumbs {
    max-width: 2080px;
    margin: 0 auto;
    padding: 2rem 2rem;
  }

  .kontakt_intro_container {
    padding: 2.5rem 2rem;
    max-width: 2080px;
    margin: 0 auto;
    padding: 2rem 2rem;
  }

  .kontakt_title {
    font-size: 3rem;
  }
  .kontakt_description {
    font-size: 2rem;
  }

  .kontakt_form {
    max-width: 1680px;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .form_row {
    gap: 3rem;
  }
}
